<%= form_for(chaine) do |f| %>
  <% if chaine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chaine.errors.count, "error") %> prohibited this chaine from being saved:</h2>

      <ul>
      <% chaine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :parser %>
    <%= f.text_field :parser %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
