<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chaine.name %>
</p>

<p>
  <strong>Parser:</strong>
  <%= @chaine.parser %>
</p>

<%= link_to 'Edit', edit_chaine_path(@chaine) %> |
<%= link_to 'Back', chaines_path %>
