<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @portrait.filename %>
</p>

<p>
  <strong>Image:</strong>
  <%= @portrait.image %>
</p>

<%= link_to 'Edit', edit_portrait_path(@portrait) %> |
<%= link_to 'Back', portraits_path %>
